@import "../assets/variables";

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    background-color: $light-gray;
    padding: 0 2rem;
    font-size: 0.9rem;

    &__iconTitle {
        display: flex;
        align-items: center;
        font-weight: 700;
        color: $dark-gray;

        img {
            height: 2rem;
            width: auto;
            margin-right: 10px;
        }
    }

    &__links {
        width: 40%;
        display: flex;
        font-weight: 600;
        color: $mid-gray;

        .navBar__link {
            margin-right: 6rem;

            &.active {
                color: $main-blue;
            }
        }
    }

    &__status {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &>*:nth-child(-n + 2) {
            color: $dark-gray;
            font-weight: 700;
            margin-right: 2rem
        }

        .navBar__logout {
            text-decoration: none;
            color: $error;
        }
    }
}