@import '../assets/variables.scss';

.main-wrapper {
    color: $dark-gray;

    .page-title {
        margin: 1rem 0
    }

    .page-description {
        margin-bottom: 2rem
    }

    .page-mainContainer {
        padding: 0 7vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}